<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.cxr.mapper.RemitMapper">
    <resultMap id="remitEntityMap" type="com.example.demo.entity.Remit">
        <id property="remitId" column="remit_id" javaType="java.lang.String"></id>
        <result property="remitUnitAccountNum" column="remit_unit_account_num" javaType="java.lang.String"></result>
        <result property="remitLoginNum" column="remit_login_num"></result>
        <result property="remitPersonNum" column="remit_person_num" javaType="java.lang.String"></result>
        <result property="name" column="name" javaType="java.lang.String"></result>
        <result property="remitCertName" column="remit_cert_name" javaType="java.lang.String"></result>
        <result property="remitCountry" column="remit_country" javaType="java.lang.String"></result>
        <result property="remitCertNum" column="remit_cert_num" javaType="java.lang.String"></result>
        <result property="remitMoney" column="remit_money" javaType="java.lang.Double"></result>
        <result property="unitMonthlyDeposit" column="unit_monthly_deposit" javaType="java.lang.Double"></result>
        <result property="personMonthlyDeposit" column="person_monthly_deposit" javaType="java.lang.Double"></result>
        <result property="monthlyDepositTotal" column="monthly_deposit_total" javaType="java.lang.Double"></result>
        <result property="remitSmsgId" column="remit_smsg_id" javaType="java.lang.String"></result>
        <result property="remitCardStatus" column="remit_card_status" javaType="java.lang.String"></result>
        <result property="accountRatio" column="account_ratio" javaType="java.lang.Double"></result>
    </resultMap>
    <!--新增方法-->
    <insert id="insterRemit" parameterType="com.example.demo.entity.Remit">
         insert into gjj_demo.remit(remit_unit_account_num, remit_login_num, remit_person_num, name, remit_cert_name, remit_country, remit_cert_num, remit_money, unit_monthly_deposit, person_monthly_deposit, monthly_deposit_total, remit_smsg_id, remit_card_status,account_ratio)
        values (#{remitUnitAccountNum}, #{remitLoginNum}, #{remitPersonNum}, #{name}, #{remitCertName}, #{remitCountry}, #{remitCertNum}, #{remitMoney}, #{unitMonthlyDeposit}, #{personMonthlyDeposit}, #{monthlyDepositTotal}, #{remitSmsgId}, #{remitCardStatus},#{accountRatio})
    </insert>
    <!--修改方法-->
    <update id="updateRemit" parameterType="com.example.demo.entity.Remit">
        update gjj_demo.remit
        <set>
            <if test="remitUnitAccountNum != null and remitUnitAccountNum != ''">
                remit_unit_account_num = #{remitUnitAccountNum},
            </if>
            <if test="remitLoginNum != null and remitLoginNum != ''">
                remit_login_num = #{remitLoginNum},
            </if>
            <if test="remitPersonNum != null and remitPersonNum != ''">
                remit_person_num = #{remitPersonNum},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="remitCertName != null and remitCertName != ''">
                remit_cert_name = #{remitCertName},
            </if>
            <if test="remitCountry != null and remitCountry != ''">
                remit_country = #{remitCountry},
            </if>
            <if test="remitCertNum != null and remitCertNum != ''">
                remit_cert_num = #{remitCertNum},
            </if>
            <if test="remitMoney != null">
                remit_money = #{remitMoney},
            </if>
            <if test="unitMonthlyDeposit != null">
                unit_monthly_deposit = #{unitMonthlyDeposit},
            </if>
            <if test="personMonthlyDeposit != null">
                person_monthly_deposit = #{personMonthlyDeposit},
            </if>
            <if test="monthlyDepositTotal != null">
                monthly_deposit_total = #{monthlyDepositTotal},
            </if>
            <if test="remitSmsgId != null and remitSmsgId != ''">
                remit_smsg_id = #{remitSmsgId},
            </if>
            <if test="remitCardStatus != null and remitCardStatus != ''">
                remit_card_status = #{remitCardStatus},
            </if>
            <if test="accountRatio !=null and accountRatio != ''">
                account_ratio = #{accountRatio},
            </if>
        </set>
        where remit_id = #{remitId}
    </update>
    <!--查询所有信息-->
    <select id="selectRemitAll" parameterType="com.example.demo.entity.CxrPagination" resultMap="remitEntityMap">
        select * from remit limit #{startPage},#{limit};
    </select>
    <!--根据职工编号查询单个信息-->
    <select id="selectRemitById" parameterType="com.example.demo.entity.Remit" resultMap="remitEntityMap">
        select * from remit where remit_person_num=#{remitPersonNum}
    </select>
    <!--查询总条数-->
    <select id="findCount" parameterType="com.example.demo.entity.CxrPagination" resultType="java.lang.Integer">
        select count(1) from remit
    </select>
    <!--根据id删除信息-->
    <delete id="deleteById" parameterType="com.example.demo.entity.Remit">
        delete from remit where remit_id = #{remitId}
    </delete>

</mapper>